h1 Color Generator

section.colorCircleContainer
  section.colorCircle
    p.colorCircleText
  section.colorCircle
    p.colorCircleText
  section.colorCircle
    p.colorCircleText
  section.colorCircle
    p.colorCircleText
  section.colorCircle
    p.colorCircleText
    
section.button-container
  button(onclick="setRandomColor()") Generate Colors
  button(onclick="copyColors()") List Colors

section.listColorContainer
  p#listColor
