main
  i.gg-terminal
  h1.title dfa-gen
  p.subtitle Deterministic finite automaton generator
  a#open-file.link Load file
  textarea#open-file-result.entry
  p.paragraph Result
  textarea#open-file-result.result
  a.button(onclick='generate()') Generate

